*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding-top: 70px;
   
   
}

/* menu navegacao */

.corVermelha{
    color: #B22222;
}



.tituloMenu{
    color: #FF0000;

}

.dropdown-menu p{
    color: grey;
}







#conteudos{
    padding-top: 70px;
    background: url(capaImagem5.jpg) no-repeat;
    background-size: cover;
     height: auto;
    

   
 
} 

/* cadastro  */

#cadastro{
    color: grey;
    margin-top: 360px;
   height: 90%;
   
   
    border-radius: 20px 20px 20px;
}

#logoChef{
    margin-top: 500px;
}

.declaracaoPrivacidade{
    color: grey;
    text-decoration: underline;
}


/* conteudos */

.tituloConteudos{
    font-size: 30px;
}

/*parcerias */

.numeracao{
    font-size: 100px;
    color: #B22222;

}

.numero2{
    color: #FF0000;
}

.numero3{
    color: #ffff00;
}

.mais{
    font-size: 20px;
}

#parcerias{
    color: black;
}


/* vantagens */

.tituloParceria{
    font-size: 40px;
}

/* planos*/

.tituloPlanos{
    font-size: 30px;
}

/* media queries */

 /*extra small */
@media (max-width: 575.98px) {

    #vantagens{
        flex-wrap: wrap;
    }

    .item4{
        display: none;
    }

    #conteudos{
        margin-top: 0px;
        padding: 0px;
        padding-top: 0px;

    }



    

   

  }

 

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 
  .itens{
    height: 300px;
    overflow: auto;
  }
 }

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {  }

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {  }


 /*planos  */

  .numeroRiscado{
    text-decoration: line-through;
  }

  /*lojas */

  .tituloLoja{
    font-size: 30px;
  }

  /*rodape */

  .footer{
    background-color: #FFFAF0;
  }

  #rodape a{
    text-decoration: none;
    color: grey;

  }

  #rodape a:hover{
    color: red;
    text-decoration: none;
    
  }